.gallery-image__portrait {
  height: calc(100vh - var(--menu-height) - 2 * var(--gallery-padding-vertical));
  width: calc((100vh - var(--menu-height) - 2 * var(--gallery-padding-vertical)) * var(--portrait-ratio));
}

.gallery-image__landscape {
  height: calc(100vh - var(--menu-height) - 2 * var(--gallery-padding-vertical));
  width: calc((100vh - var(--menu-height) - 2 * var(--gallery-padding-vertical)) * var(--landscape-ratio));
}

@media screen and (min-width: 768px) {
  .gallery-image__portrait {
    height: calc(100vh - var(--menu-height-md) - var(--gallery-padding-vertical));
    width: calc((100vh - var(--menu-height-md) - var(--gallery-padding-vertical)) * var(--portrait-ratio));
  }

  .gallery-image__landscape {
    height: calc(100vh - var(--menu-height-md) - var(--gallery-padding-vertical));
    width: calc((100vh - var(--menu-height-md) - var(--gallery-padding-vertical)) * var(--landscape-ratio));
  }
}

/* LAZY LOADING */

.isLoading {
  opacity: 0;
}

.isLoaded {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
