.project {
  @apply bg-cover bg-center relative;
}

.project:hover .project__overlay {
  @apply visible opacity-70;
}

.project:hover .project__overlay__details__separator {
  @apply w-11;
}

.project--portrait {
  padding-bottom: 130%;
}

.project--landscape {
  @apply col-span-2;
  padding-bottom: 50%;
}

.project--intro {
  @apply relative;
  padding-bottom: 100%;
}

.project__overlay {
  @apply invisible absolute inset-0 bg-light opacity-0 transition-all ease-out duration-300;
}

.project__overlay__details {
  @apply absolute inset-0 m-5 p-5 border border-dark border-opacity-30 flex flex-col items-center justify-center;
}

.project__overlay__details__separator {
  @apply border-t border-dark w-0 my-2 ease-out duration-500;
  transition-property: width;
}

@media screen and (min-width: 768px) {
  .project--portrait {
    padding-bottom: 100%;
  }
}
