@import './typography.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
  margin-top: var(--menu-height);
}

.mobile-menu {
  top: var(--menu-height);
}

@media screen and (min-width: 768px) {
  #main {
    margin-top: var(--menu-height-md);
  }
}
