@import './typography.css';
@import './variables.css';
@import './gallery.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */

#main {
  margin-top: var(--menu-height);
}

.mobile-menu {
  top: var(--menu-height);
}

@media screen and (min-width: 768px) {
  #main {
    margin-top: var(--menu-height-md);
  }
}

/* Transition between routes */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
